---
import Button from '@/components/ui/button.astro';
---

<section
  class='relative flex min-h-dvh items-center justify-center bg-forest bg-cover bg-center bg-no-repeat px-4 py-16 sm:py-20 md:bg-fixed md:py-32'
>
  <!-- mask -->
  <div class='absolute inset-0 size-full bg-background/80'></div>
  <div class='container z-0 text-center'>
    <div class='space-y-6 sm:space-y-8'>
      <span class='inline-block text-base font-bold uppercase tracking-wider text-accent'>
        Custom Web Design & Development
      </span>
      <h1 class='flex flex-col gap-2 text-4xl sm:text-5xl md:text-6xl lg:text-7xl'>
        <span class='font-bold'>Transform Your Vision</span>
        <span
          class='animate-text-shine bg-[linear-gradient(135deg,hsl(var(--primary))_0%,hsl(var(--primary))_45%,hsl(var(--background))_50%,hsl(var(--primary))_55%,hsl(var(--primary))_100%)] bg-[length:200%_auto] bg-clip-text font-black text-transparent dark:bg-[linear-gradient(135deg,hsl(var(--primary))_0%,hsl(var(--primary))_45%,hsl(var(--foreground))_50%,hsl(var(--primary))_55%,hsl(var(--primary))_100%)] sm:pb-2'
          >Into Digital Reality</span
        >
      </h1>
      <p class='mx-auto max-w-2xl text-lg leading-relaxed sm:text-xl md:text-2xl'>
        Hand-crafted websites that deliver exceptional results. No templates, no compromises - just pure, custom-coded
        excellence for your business.
      </p>
      <div class='flex flex-col gap-4 sm:flex-row sm:justify-center sm:gap-6'>
        <Button size='lg' href='contact'>Get Started</Button>
        <Button size='lg' href='#pricing' variant='accent'>View Pricing</Button>
      </div>
    </div>
  </div>
</section>
