---
import '../../styles/global.css';
import '@fontsource/poppins';
import '@fontsource/poppins/400-italic.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/500-italic.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/600-italic.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import SEO from '../SEO.astro';
import Footer from '../Footer.astro';
import Navbar from '../Navbar.astro';

export interface Props {
  title?: string;
  description?: string;
  siteName?: string;
  canonical?: string;
  ogImage?: string;
  ogType?: string;
  twitterHandle?: string;
  slug?: string;
}

const {
  title,
  description,
  siteName = 'aleksa.codes',
  canonical,
  ogImage,
  ogType,
  twitterHandle,
  slug
} = Astro.props as Props;
---

<html lang='en'>
  <head>
    <script is:inline src='https://cdn.jsdelivr.net/npm/theme-change@2.2.0/index.js'></script>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js');
        });
      }
    </script>
    <SEO {...{ title, description, siteName, canonical, ogImage, ogType, twitterHandle, slug }} />
  </head>

  <body
    style='visibility: hidden;'
    class='flex flex-col items-center min-h-screen antialiased overflow-x-hidden overflow-y-scroll'
  >
    <div class='snow'></div>
    <!-- some weird fix for mozilla firefox FOUC -->
    <script>
      0;
    </script>
    <div class='flex-grow w-full max-w-3xl'>
      <Navbar />
      <div class='px-4 pt-4 md:pt-8'>
        <div class='min-w-full prose lg:prose-lg animate-content-fade'>
          <slot />
        </div>
      </div>
    </div>
    <Footer />
    <!-- FOUC fix -->
    <script src='../../scripts/fouc.ts'></script>
    <!-- Snow effect based on if it's winter -->
    <script src='../../scripts/snow.ts'></script>
    <!-- Buy me a coffee -->
    <script
      is:inline
      data-name='BMC-Widget'
      data-cfasync='false'
      src='https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js'
      data-id='aleksa'
      data-description='Support me on Buy me a coffee!'
      data-message='Made with 💻 and ☕'
      data-color='#fb923c'
      data-position='Right'
      data-x_margin='8'
      data-y_margin='8'
    ></script>
  </body>
</html>
