---
import '@fontsource/poppins/latin.css';
import '../../styles/global.css';
import SEO from '../SEO.astro';
import Footer from '../Footer.astro';
import Navbar from '../Navbar.astro';

export interface Props {
  title?: string;
  description?: string;
  siteName?: string;
  canonical?: string;
  ogImage?: string;
  ogType?: string;
  twitterHandle?: string;
}

const {
  title,
  description,
  siteName = 'aleksa.codes',
  canonical,
  ogImage,
  ogType,
  twitterHandle
} = Astro.props as Props;
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='google-site-verification'
      content='5Bs5tGO6oss24P4orTo__H9R_w2YmD7uIGrd-Az8Nn8'
    />
    <script src='https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js'
    ></script>
    <SEO
      {...{ title, description, siteName, canonical, ogImage, ogType, twitterHandle }}
    />
  </head>
  <body class='flex flex-col items-center h-screen'>
    <div class='w-full max-w-3xl flex-grow'>
      <Navbar />
      <div class='px-4 pt-4 md:pt-8'>
        <div class='prose lg:prose-lg min-w-full animate-content-fade'>
          <slot />
        </div>
      </div>
    </div>
    <Footer />
    <script
      data-name='BMC-Widget'
      data-cfasync='false'
      src='https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js'
      data-id='aleksa'
      data-description='Support me on Buy me a coffee!'
      data-message='Thanks for visiting. Made with 💻 and ☕.'
      data-color='#FF813F'
      data-position='Right'
      data-x_margin='8'
      data-y_margin='8'
    ></script>
  </body>
</html>
