---
import Layout from '../components/layouts/Layout.astro';
---

<Layout
  title='About'
  description="Learn more about Aleksa, a junior React developer with a strong foundation in building user interfaces and front-end applications. Passionate about coding and dedicated to creating visually appealing and user-friendly experiences, Aleksa (or Alexa) is always looking to improve and expand their skills. Read more about Aleksa's background and experience on their about page."
>
  <h1>About me</h1>
  <p>
    Born in 1996, I grew up in the midst of the digital revolution. As a
    teenager, I developed a passion for building websites and became
    increasingly interested in the digital economy.
  </p>
  <p>
    After completing high school, I pursued a Bachelor's degree in <span
      class='highlight'>Computer Science</span
    > at Singidunum University and also took a number of online courses to further
    my knowledge and skills.
  </p>
  <p>
    As a passionate and self-motivated <span class='highlight'
      >full-stack web developer</span
    >, I am always eager to turn ideas into applications. My ambition is to stay
    on the cutting edge of the constantly evolving <span class='highlight'
      >web development</span
    > world and seek out new learning opportunities and projects to continue improving
    my skills.
  </p>
  <p>
    In my work, I strive to create <span class='highlight'
      >modern, responsive websites and applications</span
    > that meet the needs and desires of my clients, while also finding innovative
    solutions to problems through collaboration.
  </p>
  <p>
    In my free time, you can find me traveling, dreaming of playing basketball,
    and playing video games. I also have a soft spot for cats and love to pet
    them whenever I can. 😸
  </p>
  <p
    style="font-family: 'Segoe Script', cursive;"
    class='text-3xl sm:text-4xl text-right font-bold select-none px-4 xs:px-8'
  >
    Aleksa C.
  </p>
</Layout>
