---
import Layout from '../components/layouts/Layout.astro';
---

<Layout title='About' description='About page'>
  <h1>About me</h1>
  <p>
    Born in 1996, I grew up during the digital rise. As a teenager, I started
    building my first websites and got more and more interested in the digital
    economy.
  </p>
  <p>
    After school, I started to study{' '}
    <span class='highlight'>
      Computer Science as a bachelor&apos;s degree</span
    >{' '}
    at Singidunum University and completed many online courses alongside.
  </p>
  <p>
    Passionate and self-motivated {' '}
    <span class='highlight'>full-stack web developer</span>, eager to turn ideas
    into applications. My ambitious are to stay on the leading edge of the
    always changing <span class='highlight'>web development</span> world and find
    new learning opportunities or projects to keep improving.
  </p>
  <p>
    I work to create <span class='highlight'
      >modern, responsive websites and applications</span
    > that suit the wants and needs of my clients while solving problems through
    innovative solutions and collaboration.
  </p>
  <p>
    Out of the office, you will find me traveling, dreaming of basketball,
    playing video games, and petting all the good cats in the world. 😸
  </p>
</Layout>
