---
import Layout from '../components/layouts/Layout.astro';
---

<Layout
  title='About'
  description="Learn more about Aleksa, a junior React developer with a strong foundation in building user interfaces and front-end applications. Passionate about coding and dedicated to creating visually appealing and user-friendly experiences, Aleksa (or Alexa) is always looking to improve and expand their skills. Read more about Aleksa's background and experience on their about page."
>
  <h1>whoami</h1>
  <p>
    By day I am a professional software engineer building web applications for large enterprises. By night I am an OSINT investigator and hacker using my skills to help others. I started coding in 2015 and I have been hooked since. I started with Java and C, then moved on to .NET (C#). Now I mainly use Javascript (React, NextJS, Svelte, Astro, Typescript) and Python. I am starting to dabble in Golang as well. 
  </p>
  <p>
    I have a Master's in <span class='highlight'>Computer Science</span> with a concentration in machine learning and data science. During my studies I gained exposure to penetration testing, digital forensics, computer architecture, digital logic, and data structures & algorithms.
  </p>
  <p>
    I enjoy spending my time with <span class='highlight'>The Hacker Community</span>, where I am upskilling my offensive and defensive infoSec skills in the internet wilds.
    I am particularly interested in applying my knowledge of coding to learn <span class='highlight'
      >malware development</span> to do bug bounties and vulnerabilty research. I love attending cybersecurity conferences and meetups to learn from the best in the industry.
  </p>
  <p>
   My music career began in 2023 when I was taking courses on cyberwarfare and international security & intelligence at Harvard Extension School. 
   I wanted to incorporate music into my nerdy obsession with spies so <span class='highlight'>I invented Spycore</span> despite having no training or natural talent in music. I was also an early adopter of using AI to make music. I trained a model on my voice and then created beats and lyrics with AI and combined it all in Bandlab Studio. 
  </p>
  <p>
    In late 2023, I learned of DEFCON and nerdcore music while attending a local cybersecurity conference. I was excited that there were other nerds like me so I went onto YouTube where I discovered YTCracker's song, The Link. This really inspired me to continue working on my music despite my lack of natural talent and skill .I am a huge fan of the early 2000s and 2010s rap and hip-hop music, along with bass heavy trap and dubstep music by artists like Pretty Lights, Bassnectar, and LSDream. I let these influences guide me in creating my own unique sound.
  </p>

  <p>
    My goal is to continue to continue learning to achieve certifications and create music that is a blend of rap, EDM, intelligence, geopolitics, security, and technology. I hope to inspire others to march ot the beat of their own drum to follow their passions and live their dreams. 
  </p>
  <p
    style="font-family: 'SegoeScript', cursive;"
    class='select-none px-8 text-right text-3xl font-bold xs:px-16 sm:text-4xl'
  >
    Scarlett Danger
  </p>
</Layout>
