---
import Layout from '../components/layouts/Layout.astro';
import Avatar from '../components/utilities/Avatar.astro';
---

<Layout
  title='Contact'
  description='Looking to collaborate with or hire a talented junior React developer? Aleksa is skilled in building user interfaces and front-end applications using the popular JavaScript library, and is always looking to improve and expand their skills. Visit the contact page to get in touch and learn more about how Aleksa (or Alexa) can bring their expertise to your project.'
>
  <h1>Contact me</h1>
  <div class='flex flex-col items-center justify-center h-full'>
    <div
      class='mt-[-24px] mb-4 flex flex-col sm:flex-row items-start justify-center sm:items-center gap-4 w-full'
    >
      <div class='flex flex-row items-center justify-center w-full xs:w-1/2'>
        <Avatar />
      </div>
      <p class='w-full'>
        Feel free to reach out to me at any time, I am always interested in <span
          class='highlight'>things</span
        >. Thank you!
      </p>
    </div>
    <form
      class='flex flex-col items-center justify-center w-full gap-2'
      target='_blank'
      action='https://formsubmit.co/9f2e38d7a97aa8e4fad043b4b83b9558'
      method='POST'
    >
      <div class='flex flex-row items-center justify-between w-full gap-4'>
        <div class='w-full'>
          <label html-for='name-field'>
            Name
            <div id='name-field'>
              <input
                type='text'
                name='name'
                class='w-full input input-bordered'
                placeholder='e.g. Bon Jovi'
                required
              />
            </div>
          </label>
        </div>
        <div class='w-full'>
          <label html-for='email-field'>
            Email
            <div id='email-field'>
              <input
                type='email'
                name='email'
                class='w-full input input-bordered'
                placeholder='e.g. bon.jovi@gmail.com'
                required
              />
            </div>
          </label>
        </div>
      </div>
      <div class='w-full'>
        <label html-for='subject-field'>
          Subject
          <div id='subject-field'>
            <input
              type='text'
              name='_subject'
              class='w-full input input-bordered'
              placeholder={`e.g. Let's Connect!`}
              required
            />
          </div>
        </label>
      </div>
      <div class='w-full'>
        <label html-for='message-field'>
          Message
          <div id='message-field'>
            <textarea
              placeholder='Your Message Here'
              class='w-full textarea textarea-bordered resize-none'
              name='message'
              rows={4}
              required></textarea>
          </div>
        </label>
      </div>
      <div class='flex flex-row items-center justify-start w-full gap-4'>
        <button
          type='submit'
          class='gap-1 btn btn-secondary hover:text-slate-300'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='icon icon-tabler icon-tabler-send'
            width='20'
            height='20'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
            <line x1='10' y1='14' x2='21' y2='3'></line>
            <path
              d='M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5'
            ></path>
          </svg> Send
        </button>
        <button type='reset' class='gap-1 btn text-slate-300'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='icon icon-tabler icon-tabler-eraser'
            width='20'
            height='20'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
            <path
              d='M19 19h-11l-4 -4a1 1 0 0 1 0 -1.41l10 -10a1 1 0 0 1 1.41 0l5 5a1 1 0 0 1 0 1.41l-9 9'
            ></path>
            <line x1='18' y1='12.3' x2='11.7' y2='6'></line>
          </svg> Clear
        </button>
      </div>
    </form>
  </div>
</Layout>
