---
import Layout from '../components/layouts/Layout.astro';
---

<Layout
  title='Contact'
  description='Looking to collaborate with or hire a talented junior React developer? Aleksa is skilled in building user interfaces and front-end applications using the popular JavaScript library, and is always looking to improve and expand their skills. Visit the contact page to get in touch and learn more about how Aleksa (or Alexa) can bring their expertise to your project.'
>
  <h1>Contact me</h1>
  <div class='flex h-full flex-col items-center justify-center'>
    <div class='mb-4 mt-[-24px] flex w-full flex-col items-start justify-center gap-4 sm:flex-row sm:items-center'>
      <div class='flex w-full flex-row items-center justify-center xs:w-1/2'>
        <!-- Avater based on if it is winter or not -->
        <img class='avatar m-0' src='/assets/Avatar.svg' alt='Avatar' />
        <img class='winter-avatar m-0' src='/assets/WinterAvatar.svg' alt='Winter Avatar' />
      </div>
      <p class='w-full'>
        Feel free to reach out to me at any time, I am always interested in new <span class='highlight'
          >ideas and opportunities!</span
        >
      </p>
    </div>
    <!-- Use your e-mail or check "Invisible emails" section at: https://formsubmit.co/documentation PLEASE DON NOT USE MY STRING ID -->
    <form
      class='flex w-full flex-col items-center justify-center gap-2'
      target='_blank'
      action='https://formsubmit.co/d4aea92274000f3a15f8e9eba584e72f'
      method='POST'
    >
      <div class='flex w-full flex-row items-center justify-between gap-4'>
        <div class='w-full'>
          <label html-for='name-field'>
            Name
            <div id='name-field'>
              <input
                type='text'
                name='name'
                class='input w-full border-gray-700 dark:border-gray-300'
                placeholder='e.g. Bon Jovi'
                required
              />
            </div>
          </label>
        </div>
        <div class='w-full'>
          <label html-for='email-field'>
            Email
            <div id='email-field'>
              <input
                type='email'
                name='email'
                class='input w-full border-gray-700 dark:border-gray-300'
                placeholder='e.g. bon.jovi@gmail.com'
                required
              />
            </div>
          </label>
        </div>
      </div>
      <div class='w-full'>
        <label html-for='subject-field'>
          Subject
          <div id='subject-field'>
            <input
              type='text'
              name='_subject'
              class='input w-full border-gray-700 dark:border-gray-300'
              placeholder={`e.g. Let's Connect!`}
              required
            />
          </div>
        </label>
      </div>
      <div class='w-full'>
        <label html-for='message-field'>
          Message
          <div id='message-field'>
            <textarea
              placeholder='Your Message'
              class='textarea w-full resize-none border-gray-700 dark:border-gray-300'
              name='message'
              rows={4}
              required></textarea>
          </div>
        </label>
      </div>
      <div class='flex w-full flex-row items-center justify-start gap-4'>
        <button type='submit' class='btn btn-secondary gap-1 hover:text-slate-300'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='icon icon-tabler icon-tabler-send'
            width='20'
            height='20'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
            <line x1='10' y1='14' x2='21' y2='3'></line>
            <path d='M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5'></path>
          </svg> Send
        </button>
        <button type='reset' class='btn gap-1'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='icon icon-tabler icon-tabler-eraser'
            width='20'
            height='20'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
            <path d='M19 19h-11l-4 -4a1 1 0 0 1 0 -1.41l10 -10a1 1 0 0 1 1.41 0l5 5a1 1 0 0 1 0 1.41l-9 9'></path>
            <line x1='18' y1='12.3' x2='11.7' y2='6'></line>
          </svg> Clear
        </button>
      </div>
    </form>
  </div>
  <script>
    // Based on if it is winter or not, show the correct avatar
    const winterAvatar = document.querySelector('.winter-avatar');
    const avatar = document.querySelector('.avatar');
    const isWinter = [11, 0, 1].includes(new Date().getMonth());
    isWinter ? avatar?.classList.add('hidden') : winterAvatar?.classList.add('hidden');
  </script>
</Layout>
