---
import Layout from '../components/layouts/Layout.astro';
---

<Layout>
  <h1 class='flex flex-row items-center justify-start'>
    Hello World
    <!-- <img
        src='/waving-hand.webp'
        alt='waving hand'
        width={48}
        height={48}
        layout='fixed'
      /> -->
  </h1>
  <h1 class='mb-[-48px] lg:mb-[-48px]'>My name is Aleksa</h1>
  <h2>
    I design and build{' '}
    <span class='highlight-heading'>things for the web.</span>
  </h2>
  <div class='opacity-80 text-xl font-semibold'>
    Computer Science Student and Web Developer.
  </div>
</Layout>
