---
import BaseLayout from '@/layouts/base-layout.astro';
import Hero from '@/components/hero.astro';
import About from '@/components/about.astro';
import Projects from '@/components/projects.astro';
import TechStack from '@/components/tech-stack.astro';
---

<BaseLayout>
  <div class='flex flex-col gap-24 md:gap-32'>
    <Hero />
    <About />
    <TechStack />
    <Projects />
  </div>
</BaseLayout>
