---
import Layout from '../components/layouts/Layout.astro';
---

<Layout>
  <div class='flex flex-row items-center justify-start mb-4 md:mb-8'>
    <span
      id='typed'
      class='text-4xl font-extrabold lg:text-5xl text-base-content'></span>
    <span class='not-prose ml-3 animate-waving-hand w-[48px] h-[48px]'>
      <img
        src='/waving-hand.webp'
        alt='waving hand'
        class='w-full h-full'
        srcset='
          /waving-hand.webp 1x,
          /waving-hand.webp 2x
        '
      />
    </span>
  </div>
  <h1 class='mb-[-48px] lg:mb-[-48px]'>My name is Aleksa</h1>
  <h2>
    I design and build{' '}
    <span class='highlight-heading'>things for the web.</span>
  </h2>
  <div class='text-xl font-semibold'>
    Computer Science Student and Web Developer.
  </div>
  <div
    class='w-[275px] h-[275px] lg:w-[350px] lg:h-[350px] xl:w-[400px] xl:h-[400px] 2xl:w-[450px] 2xl:h-[450px] mx-auto mt-4 bg-laptop'
  >
  </div>
</Layout>
<script>
  // @ts-ignore
  import Typewriter from 'typewriter-effect/dist/core';
  document.addEventListener('DOMContentLoaded', () => {
    const typed = document.getElementById('typed');
    const tw = new Typewriter(typed, {
      loop: false,
      autoStart: true
    });
    tw.typeString('Hello World').start();
  });
</script>
