---
import Layout from '../components/layouts/Layout.astro';
---

<Layout>
  <div class='mb-4 flex flex-row items-center justify-start md:mb-8'>
    <span id='typed' class='text-4xl font-extrabold text-base-content lg:text-5xl'>Hello World</span>
    <span class='not-prose ml-3 animate-waving-hand'>
      <img
        src='/assets/waving-hand.webp'
        alt='waving hand'
        class='h-12 w-12'
        srcset='
          /assets/waving-hand.webp 1x,
          /assets/waving-hand.webp 2x
        '
      />
    </span>
  </div>
  <h1 class='mb-[-48px] lg:mb-[-48px]'>
    My name is <span
      class='bg-gradient-to-r from-base-content to-red-500 bg-clip-text font-extrabold text-transparent dark:from-base-content dark:to-red-300'
      >Scarlett Danger</span
    >
  </h1>
  <h2>
    This is my{' '}
    <span class='highlight-heading animate-box-shadow dark:animate-winter-box-shadow'>Creative Studio.</span>
  </h2>
  <div class='text-xl font-semibold'>Programmer | Hacker | Artist </div>
  <div class='mx-auto mt-4 h-[275px] w-[275px] bg-laptop sm:h-[350px] sm:w-[350px] md:h-[450px] md:w-[450px]'>
    <!-- Laptop image here -->
  </div>
</Layout>
