---
import DarkMode from './DarkMode.astro';
import { navItems } from '../data/nav';
---

<div class='navbar bg-base-100 pt-4 sticky top-0 z-50 opacity-[0.925]'>
  <div class='flex-1'>
    <a
      class='flex items-center gap-4 p-2 font-bold hover:underline md:text-2xl'
      href='/'
    >
      <!-- for image before the site title, uncomment img below and remove pt-4 from the 1st parent div above
        <img src="https://api.lorem.space/image/face?w=96&h=96" width="48" height="48" alt="Astro Blog" class="rounded-full bg-base-200 md:w-12 md:h-12 w-9 h-9">  -->
      <span id='typed-logo'>aleksa.codes</span>
    </a>
  </div>
  <div class='flex-none'>
    <ul class='hidden p-0 menu menu-horizontal md:flex'>
      {
        navItems.map(({ href, label }: { href: string; label: string }) => (
          <li>
            <a
              href={href}
              class='active:bg-base-content/30 active:text-current hover:bg-base-content/20 hover:text-current p-3 rounded-md'
            >
              {label}
            </a>
          </li>
        ))
      }
      <li class='tooltip tooltip-success tooltip-bottom' data-tip='Resume'>
        <a
          href='https://aleksa-codes.github.io/resume/'
          target='_blank'
          rel='noopener noreferrer'
          class='active:bg-base-content/30 active:text-current hover:bg-base-content/20 hover:text-current p-3 rounded-md'
          aria-label='Resume'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='icon icon-tabler icon-tabler-file-certificate'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
            <path d='M14 3v4a1 1 0 0 0 1 1h4'></path>
            <path d='M5 8v-3a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5'></path>
            <circle cx='6' cy='14' r='3'></circle>
            <path d='M4.5 17l-1.5 5l3 -1.5l3 1.5l-1.5 -5'></path>
          </svg>
        </a>
      </li>
      <li class='tooltip tooltip-info tooltip-bottom' data-tip='GitHub'>
        <a
          href='https://github.com/aleksa-codes'
          target='_blank'
          rel='noopener noreferrer'
          aria-label='GitHub Profile'
          class='active:bg-base-content/30 active:text-current hover:bg-base-content/20 hover:text-current p-3 rounded-md'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='icon icon-tabler icon-tabler-brand-github'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
            <path
              d='M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5'
            ></path>
          </svg>
        </a>
      </li>
      <li class='tooltip tooltip-warning tooltip-bottom' data-tip='RSS'>
        <a
          href='/rss.xml'
          aria-label='RSS Feed'
          class='active:bg-base-content/30 active:text-current hover:bg-base-content/20 hover:text-current p-3 rounded-md'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='icon icon-tabler icon-tabler-rss'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
            <circle cx='5' cy='19' r='1'></circle>
            <path d='M4 4a16 16 0 0 1 16 16'></path>
            <path d='M4 11a9 9 0 0 1 9 9'></path>
          </svg>
        </a>
      </li>
      <li>
        <DarkMode />
      </li>
    </ul>
    <div class='md:hidden'>
      <DarkMode />
    </div>
    <div class='dropdown dropdown-end md:hidden'>
      <label tabindex={0} class='btn btn-ghost btn-square'>
        <svg
          class='h-6 stroke-current first:w-6'
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        >
          <line x1='3' y1='12' x2='21' y2='12'></line>
          <line x1='3' y1='6' x2='21' y2='6'></line>
          <line x1='3' y1='18' x2='21' y2='18'></line>
        </svg>
      </label>
      <ul
        tabindex={0}
        class='p-2 dropdown-content menu bg-base-200 rounded-box w-52 menu-compact'
      >
        {
          navItems.map(({ href, label }: { href: string; label: string }) => (
            <li>
              <a
                class='active:bg-base-content/30 active:text-current hover:bg-base-content/20 hover:text-current p-3'
                href={href}
              >
                {label}
              </a>
            </li>
          ))
        }
        <li class='flex flex-row items-center justify-around'>
          <div class='tooltip tooltip-info tooltip-bottom' data-tip='Resume'>
            <a
              href='https://aleksa-codes.github.io/resume/'
              target='_blank'
              rel='noopener noreferrer'
              aria-label='Resume'
              class='active:bg-base-content/30 active:text-current hover:bg-base-content/20 hover:text-current'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='icon icon-tabler icon-tabler-file-certificate'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                stroke-width='2'
                stroke='currentColor'
                fill='none'
                stroke-linecap='round'
                stroke-linejoin='round'
              >
                <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                <path d='M14 3v4a1 1 0 0 0 1 1h4'></path>
                <path d='M5 8v-3a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5'
                ></path>
                <circle cx='6' cy='14' r='3'></circle>
                <path d='M4.5 17l-1.5 5l3 -1.5l3 1.5l-1.5 -5'></path>
              </svg>
            </a>
          </div>
          <div class='tooltip tooltip-info tooltip-bottom' data-tip='GitHub'>
            <a
              href='https://github.com/aleksastojsic'
              target='_blank'
              rel='noopener noreferrer'
              aria-label='GitHub Profile'
              class='active:bg-base-content/30 active:text-current hover:bg-base-content/20 hover:text-current'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='icon icon-tabler icon-tabler-brand-github'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                stroke-width='2'
                stroke='currentColor'
                fill='none'
                stroke-linecap='round'
                stroke-linejoin='round'
              >
                <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                <path
                  d='M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5'
                ></path>
              </svg>
            </a>
          </div>
          <div class='tooltip tooltip-info tooltip-bottom' data-tip='RSS'>
            <a
              href='/rss.xml'
              aria-label='RSS Feed'
              class='active:bg-base-content/30 active:text-current hover:bg-base-content/20 hover:text-current'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='icon icon-tabler icon-tabler-rss'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                stroke-width='2'
                stroke='currentColor'
                fill='none'
                stroke-linecap='round'
                stroke-linejoin='round'
              >
                <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                <circle cx='5' cy='19' r='1'></circle>
                <path d='M4 4a16 16 0 0 1 16 16'></path>
                <path d='M4 11a9 9 0 0 1 9 9'></path>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <script src='/src/utils/typewritter.ts'></script> -->
